* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  display: none; /* For Chrome */
}

body, html {
  -ms-overflow-style: none;  /* For IE and Edge */
  scrollbar-width: none;  /* For Firefox */
  height: 100%;
} 

body {
    color: white;
    height: 100%;
}

b {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("/static/img/image15.png");
    background-size: cover;
}

.row {
    padding: 1rem;
}

.hist, .phil {
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    height: 85vmin;
    font-family: 'Courier New', Courier, monospace;  
    font-size: 3.1vmin;
    overflow: scroll;
    -ms-overflow-style: none;  /* For IE and Edge */
    scrollbar-width: none;  /* For Firefox */
}

h5 {
  font-size: 2.9vmin;
}

.phil a, .hist a {
    text-decoration: none;
    color: white;  
    font-size: 3.1vmin;
}

.phil a:hover, .hist a:hover {
    text-decoration: underline;
}

.phil::-webkit-scrollbar, .hist::-webkit-scrollbar {
  display: none; /* For Chrome */
}

.home-button {
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
     text-align: center;
}

.home-button a { /* for home anchor tag */
  text-decoration: none;
  color: white;
 }
 
.caption {
   display: block; /* to have text appear below icon */
   font-family: 'Courier New', Courier, monospace;
   font-size: 1rem; 
 }