* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  display: none; /* For Chrome */
}

body, html {
  -ms-overflow-style: none;  /* For IE and Edge */
  scrollbar-width: none;  /* For Firefox */
  height: 100%;
} 

body {
    color: white;
    height: 100%;
}

b {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("/static/img/image14.png");
    background-size: cover;
    background-position: center;
}

.row {
    padding: 1rem;
}

.home-button {
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    text-align: center;
}

.home-button a { /* for home anchor tag */
  text-decoration: none;
  color: white;
 }

.caption {
   display: block; /* to have text appear below icon */ 
 }
 .essays {
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-align: center;
    height: 85vmin;
    font-family: 'Courier New', Courier, monospace;  
    font-size: 3.1vmin;
    overflow: scroll;
    -ms-overflow-style: none;  /* For IE and Edge */
    scrollbar-width: none;  /* For Firefox */
}

.essays::-webkit-scrollbar {
  display: none; /* For Chrome */
}

.essays a { /* essays div items with a href */
   text-decoration: none;
   color: white;
}
.essays a:hover{
  font-size: 4vmin;
}