
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  display: none; /* For Chrome */
}

body, html {
  -ms-overflow-style: none;  /* For IE and Edge */
  scrollbar-width: none;  /* For Firefox */
  height: 100%;
} 

body {
    color: white;
    height: 100%;
}

b {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("/static/img/image15.png");
    background-size: cover;
}

.row {
    padding: 1rem;
}

.col-lg-2 {
  padding: 0.7rem;
}

.home-button {
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
     text-align: center;
}

.home-button a { /* for home anchor tag */
  text-decoration: none;
  color: white;
 }



.caption {
   display: block; /* to have text appear below icon */
   font-family: 'Courier New', Courier, monospace;
   font-size: 1rem; 
 }

.musicBubble {
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    height: 25vmin;
    width: 25vmin;
    font-family: 'Courier New', Courier, monospace;  
    font-size: 2.6vmin;
    overflow: hidden;
}

.album-pic {
      width: 100%;
      height: 100%;
      background-image: url("/static/img/peep.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;    
}

.info {
    display: none;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center; 
    width: 100%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* For IE and Edge */
    scrollbar-width: none;  /* For Firefox */
    scroll-behavior: smooth;
    font-size: 3vmin;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; 
}

.info::-webkit-scrollbar{
  display: none; /* For Chrome */
  scroll-behavior: smooth;
}

.info a {
  text-decoration: none;
  color: white;
}

.info a:hover {
  text-decoration: underline;
  color: white;
}

.album-pic:hover .info {
    display: block;
}

.musicBubble:hover {
      height: 40vmin;
      transition: .3s ease-in-out;
}


@media (max-width: 940px) {

.musicBubble {
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    height: 40vmax;
    width: 40vmax;
    font-family: 'Courier New', Courier, monospace;  
    font-size: 2.6vmin;
    overflow: hidden;
}

.musicBubble:hover {
      height: 50vmax;
      transition: .3s ease-in-out;
}

.info {
     font-size: 5.5vmin;
}

}


