<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    <title>Double Pendulum</title>
   
    <link rel="icon" href="{{ url_for('static', filename='img/doubleIcon.png') }}">

    <script src="https://d3js.org/d3.v6.min.js" defer></script>   
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6" defer></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>
    <script src="{{url_for('static', filename='doublePendulumScript.js')}}" defer></script>

</head>
<style>
img {
    width: 20%; 
    margin-left: auto; 
    margin-right: auto; 
    display:block; 
    height:auto;
}
p {
    font-size: 2.7vmin;
    line-height: 1.8; 
    text-align: center;    
}
button {
    display: inline;
}

@media (max-width: 850px) { /* media query's come after the stuff you're changing 
                                has been given css properties */
    img {
        width: 100%; 
        margin-left: auto; 
        margin-right: auto; 
        display:block; 
        height:auto;
        }
}
</style>
<body lang=EN-US link=blue vlink="#954F72" style="background-color: #333333; margin:150;padding:0"> <!-- For Dark mode -->
<font color="white"> <!-- For Dark mode -->
<a href="/#simulatePage" style="color:white; font-size: 2.8vmin; border-radius: 1px; border: 1px solid white; padding: 4px; text-decoration: none; font-family: 'Courier New', Courier, monospace;">
    Back to simulators</a> <!--For leaving document--> 

<p>
    In classical mechanics the double pendulum demonstrates the advantage of solving mechanics problems using
    the Euler-Lagrange equations derived from the calculus of variations:
    \[{d \over dt} {\partial L \over \partial \dot{f}} - {\partial L \over \partial f} = 0 \]
    Over Newton's Second Law:
    \[ -{ \partial U \over  \partial x }  = m {\ddot{x}} \]
    The problem consists of a pendulum suspended from a fixed point with another pendulum attached to
    it. The relevant parameters consist of \(l \) and \(\ell \), the length of the top and bottom pendulum 
    respectively, \(m \) and \( M \), the mass of the top and bottom pendulum respectively, as well as
    \( \theta \) and \( \phi \) where \( \theta \) is the angle made by the vertical from the fixed point the top pendulum is attached
    to and the rod of the pendulum and \( \phi \) is the angle made by the vertical from the position of the first mass and the rod of the 
    second pendulum as shown in the figure below:
</p>
<img src="{{url_for('static', filename='img/doubleDiagram.png')}}">

<p>
    The lagrangian of the system is:
    \[ L = \frac{1}{2}m(l \dot{\theta})^2 + \frac{1}{2}M[ (l \dot{\theta})^2 + 2(l \dot{\theta})(\ell \dot{\phi})
    \cos{(\phi - \theta) + (\ell \dot{\phi})^2}] - [-mgl \cos{\theta} - Mg(l \cos{\theta} + \ell \cos{\phi} )]
    \]    
    Using the Euler-Lagrange equation the equations of motion for the two masses can be found as a system of two coupled 
    linear (unlike the simple pendulum) 2nd order differential equations:
    \[ \ddot{\theta} = \frac{-g(2m+M)\sin{(\theta)} - Mg\sin{(\theta - 2\phi}) - 2\sin{(\theta - \phi)}M(\dot{\phi}^2 \ell + \dot{\theta}^2l\cos{(\theta - \phi))} }{l(2m + M - M\cos{(2\theta - 2\phi)}) }  \] 
    <br>
    \[ \ddot{\phi} = \frac{2\sin{(\theta - \phi)}(\dot{\theta}^2l(m + M) + g(m+ M)\cos{(\theta)} + \dot{\phi}^2 \ell M\cos{(\theta - \phi)}) }{\ell(2m + M - M\cos{(2\theta - 2\phi)})} \]

    To numerically evaluate this set of ODE's we'll need to reduce it from a system of two 2nd order ODE's to a system of four 1st order
    ODE's by letting \( u = \theta, v = \dot{\theta}, w = \phi, s = \dot{\phi} \), which gives us the system:
    \[ \dot{u} = v \]
    \[ \dot{v} = \frac{-g(2m+M)\sin{(u)} - Mg\sin{(u - 2w}) - 2\sin{(u - w)}M(\dot{w}^2 \ell + \dot{u}^2l\cos{(u - w))} }{l(2m + M - M\cos{(2u - 2w)}) } \]      
    <br>
    \[ \dot{w} = s \]
    \[ \dot{s} = \frac{2\sin{(u - w)}(\dot{u}^2l(m + M) + g(m+ M)\cos{(u)} + \dot{w}^2 \ell M\cos{(u - w)}) }{\ell(2m + M - M\cos{(2u - 2w)})} \]
    <br>We can now use the 4th order Runge-Kutta method to evaluate the system of ODE's: <br><br>
</p>


<div style="position: relative;">
    <button type="button" id="pauseButton">Play/Pause</button>
    <canvas style="position: absolute;"></canvas>
    <svg id="doublePendulum" style="position: absolute; z-index: 1;"></svg>
</div>

</body>



</html>