{% extends "base.html" %} <!--Template inheritance-->
{% block stylesheet %}{{ url_for('static', filename='css/indexStyle.css') }}{% endblock %}
{% block icon %}{{ url_for('static', filename='img/indexIcon.png') }}{% endblock %}
{% block title %}Amanuel Anteneh{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{url_for('static', filename='js/appBubbleScript.js')}}"></script>
<script src="{{url_for('static', filename='js/quoteChange.js')}}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6" defer></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>

<!-- Page 1 -->
<div id="homePage">
    <div id="floatingQuote">   
             Hello my name is Amanuel Anteneh, welcome to my website!
             <br>• Computer Science •<br>• Physics •<br>• Mathematics •
    </div>
</div>

<!-- Page 2 -->
<div id="aboutPage">
    <div class="bio">
        <u>About Me:</u><br>
        I am a student at the University of Virginia pursuing a B.S. in physics and B.A. in computer science with
        a minor in mathematics. This website is for hosting things like my resume, JavaScript visualizers 
        of various physics phenomenon such as the double pendulum & a particle in a box
        and mathematical objects such as
        the Riemann sphere and more. I am mainly interested in: <br>
        •Quantum Computing & Information <br>
        •Software Development <br> <br>
        In my free time I enjoy reading, watching TV shows, going to the gym and listening to music. 
        These are some dope bands you should check out: <br>
        • The 1975 <br>
        • Muse <br>
        • Glass Animals <br>
        • TOOL
    </div>
</div>
<!-- Page 3 -->
<div id="simulatePage">
    <div id="appBubble">
        <b>Cool
            Visualizers</b>
            <ul>
                <li>
                    <a href="/Annealing">
                        <img src="{{url_for('static', filename='img/annealingIcon.png')}}" alt="annealing" width="30"
                            height="30">
                        Simulated Annealing
                    </a>
                </li>               
                <li>
                    <a href="/Particle-in-a-Box">
                        <img src="{{url_for('static', filename='img/psiIcon.png')}}" alt="particle" width="30"
                            height="30">
                        Particle in a Box
                    </a>                    
                </li>
                <li>
                    <a href="/Double-Pendulum">
                        <img src="{{url_for('static', filename='img/doubleIcon.png')}}" alt="double" width="30" height="30">
                        Double Pendulum
                    </a>
                </li>
                <li>
                    <a href="/Riemann-Sphere">
                        <img src="{{url_for('static', filename='img/sphereIcon.png')}}" alt="sphere" width="30" height="30">
                        Riemann Sphere
                    </a>
                </li>
                <li>
                    <a href="/Simple-Pendulum">
                        <img src="{{url_for('static', filename='img/singleIcon.png')}}" alt="double" width="30" height="30">
                        Simple Pendulum
                    </a>
                </li>                    
               <!-- <li>
                        <a href="#">
                            <img src="{{url_for('static', filename='img/laplaceIcon.png')}}" alt="wave eq" width="30" height="30">
                            Wave Equation
                        </a>
                    </li>
               <li>
                        <a href="#">
                            <img src="{{url_for('static', filename='img/kappaIcon.png')}}" alt="heat eq" width="30" height="30">
                            Heat Equation
                        </a>
                    </li> -->
                    

                    </ul>
                    </div>
                    </div>
                    
                    
                    {% endblock %}
