<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/musicStyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/musicIcon.png') }}">
    <!--So you can change tab icon for each HTML file-->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{url_for('static', filename='js/musicScript.js')}}"></script>
    <title>Music</title>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 home-button">
                <a href="/"><img src="{{url_for('static', filename='img/homeIcon.png')}}" alt="home" width="25"
                        height="25">
                    <span class="caption">Home</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 home-button">
                <span class="caption"><b>Good songs<br> from various albums</b></span></a>
            </div>
        </div>
        <div id="bubbleContainer">
        <div class="row">
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">  <!--add d-flex justify-content-center to center divs on smaller screens-->
                <!-- mb-3 is to add padding when columns stack vertically -->
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> The 1975 <br><br>
                                <h3><b>Album:</b></h3>The 1975<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=PNSfJNOxNHY&feature=share"
                                    target="_blank">The City</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=YiLwjrrlFMY&feature=share"
                                    target="_blank">Fallingforyou</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=mUvXOBuLUkQ&feature=share"
                                    target="_blank">Pressure</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=-kVlyG4yQsY&feature=share"
                                    target="_blank">M.O.N.E.Y.</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=h4pPGpYfq44&feature=share"
                                    target="_blank">Menswear</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> The 1975 <br><br>
                                <h3><b>Album:</b></h3>I Like It When You Sleep, for You Are So Beautiful Yet So Unaware
                                of It<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=c5WPeqeYfQ0&feature=share"
                                    target="_blank">The Sound</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=WWvW83CyVCA&feature=share"
                                    target="_blank">Paris</a><br><br>                           
                                <a
                                    href="https://music.youtube.com/watch?v=hx3DonCyCmc&feature=share"
                                    target="_blank">If I Believe You</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=M3gTmd8uv5I&feature=share"
                                    target="_blank">She's American</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=t4N1KkuY2kk&feature=share"
                                    target="_blank">Loving Someone</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=T27A0qhsDCc&feature=share"
                                    target="_blank">Love Me</a><br><br>                           
                                <a
                                    href="https://music.youtube.com/watch?v=dMGmIAdQUIc&feature=share"
                                    target="_blank">A Change Of Heart</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=Kj1cG2uZKEc&feature=share"
                                    target="_blank">UGH!</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=K9SUTtDVheM&feature=share"
                                    target="_blank">Somebody Else</a><br><br>                                    
                                </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Muse <br><br>
                                <h3><b>Album:</b></h3>The 2nd Law<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=AcuMa23mhHM&feature=share"
                                    target="_blank">Panic Station</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=zqi8oKGWbSI&feature=share"
                                    target="_blank">Liquid State</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> The 1975 <br><br>
                                <h3><b>Album:</b></h3>Notes On Conditional Form<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=96TRu1aIOFM&feature=share"
                                    target="_blank">If You're Too Shy (Let Me Know)</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=kpXNeiTins8&feature=share"
                                    target="_blank">Nothing Revealed / Everything Denied</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=9PScqjhjMbE&feature=share"
                                    target="_blank">Tonight (I Wish I Was Your Boy)</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Mac Miller <br><br>
                                <h3><b>Album:</b></h3>Swimming<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=rn4mVQswfNg&feature=share"
                                    target="_blank">Self Care</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=kxDT6phBsHE&feature=share"
                                    target="_blank">Jet Fuel</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Glass Animals <br><br>
                                <h3><b>Album:</b></h3>Dreamland<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=jB2tIfKpIuQ&feature=share"
                                    target="_blank">Tangerine</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=ZgfYwoci2dw&feature=share"
                                    target="_blank">Tokyo Drifting</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=XDjB9E3YtUE&feature=share"
                                    target="_blank">Heat Waves</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=GInXwWrzUTc&feature=share"
                                    target="_blank">Helium</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=xcr4njTar0s&feature=share"
                                    target="_blank">Hot Sugar</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=xUqjPOYOOBY&feature=share"
                                    target="_blank">Waterfalls Coming Out Your Mouth</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=wCoaPtaeSPw&feature=share"
                                    target="_blank">Your Love (Déjà Vu)</a><br><br>

                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Lil Uzi Vert <br><br>
                                <h3><b>Album:</b></h3>Luv Is Rage 2<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=rj9sZsKE7-g&feature=share"
                                    target="_blank">20 Min</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=8HYqOOY0H3U&feature=share"
                                    target="_blank">XO Tour Llif3</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Kid Cudi <br><br>
                                <h3><b>Album:</b></h3>Man On The Moon III: The Chosen<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=HH-lnGzSAOg&feature=share" target="_blank">4
                                    Da Kidz</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=qZm3T1QwjTM&feature=share" target="_blank">Another
                                    Day</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=rc5_UTxvnZQ&feature=share" target="_blank">Tequila Shots</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=7Wsin5LH5sM&feature=share" target="_blank">Sad People</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=EggRxP_kW3o&feature=share" target="_blank">Sept. 16</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Rae Sremmurd <br><br>
                                <h3><b>Album:</b></h3>SR3MM<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=3v4UwjXI4Q0&feature=share"
                                    target="_blank">Bedtime Stories</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=4n9KGdj3-XM&feature=share"
                                    target="_blank">Touchscreen Navigation</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3>Migos<br><br>
                                <h3><b>Album:</b></h3>Culture II<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=8bRrNC15O6M&feature=share"
                                    target="_blank">Made Men</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=3BjRXdSQWxs&feature=share"
                                    target="_blank">Gang Gang</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=X6xgR6PCafs&feature=share"
                                    target="_blank">Culture National Anthem (Outro)</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Frank Ocean <br><br>
                                <h3><b>Album:</b></h3>Blond<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=x6QJPJO2w40&feature=share"
                                    target="_blank">Ivy</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=9cHbvRUALrc&feature=share"
                                    target="_blank">Pink + White</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> The Neighbourhood <br><br>
                                <h3><b>Album:</b></h3>I Love You<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=cULQhvuq1Zc&feature=share"
                                    target="_blank">Sweater Weather</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
                       <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Lil Peep <br><br>
                                <h3><b>Album:</b></h3>Hellboy<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=1G9MOdrQZr4&feature=share"
                                    target="_blank">We Think Too Much</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> TOOL <br><br>
                                <h3><b>Album:</b></h3>10,000 Days<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=aUK8KOPNcb0&feature=share"
                                    target="_blank">Jambi</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
                </div>
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                    <div class="musicBubble">
                        <div class="album-pic">
                            <div class="info">
                                <b>
                                    <h3><b>Artist:</b></h3> Muse <br><br>
                                    <h3><b>Album:</b></h3>Absolution<br><br>
                                    <h3><b>Tracks:</b></h3><a href="https://music.youtube.com/watch?v=27zOar_iEOA&feature=share"
                                        target="_blank">Hysteria</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=wy2CebQ9U30&feature=share"
                                        target="_blank">Thoughts of a Dying Atheist</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=61Q0moGbeEo&feature=share"
                                        target="_blank">Stockholm Syndrome</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=1n5a9vk1wig&feature=share"
                                        target="_blank">Fury</a><br><br>

                                </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> The Neighbourhood <br><br>
                                <h3><b>Album:</b></h3>Wiped Out!<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=lqSgsq4Bn2c&feature=share"
                                    target="_blank">Daddy Issues</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=K9AAD-3Xpds&feature=share"
                                    target="_blank">R.I.P 2 My Youth</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>               
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Glass Animals <br><br>
                                <h3><b>Album:</b></h3>ZABA<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=oGtj89eTUmc&feature=share"
                                    target="_blank">Gooey</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=CZOst1KmN0o&feature=share"
                                    target="_blank">Flip</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=f6nmR95A3OI&feature=share"
                                    target="_blank">Black Mambo</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> TOOL <br><br>
                                <h3><b>Album:</b></h3>Lateralus<br><br>
                                <h3><b>Tracks:</b></h3><a
                                    href="https://music.youtube.com/watch?v=mBgviceBzFs&feature=share"
                                    target="_blank">Lateralus</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=lKCKn58rTbw&feature=share"
                                    target="_blank">Parabola</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=tuw1ziytBDk&feature=share"
                                    target="_blank">Schism</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
                </div>
                <div class="row"> <!--row 4-->
                       <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Muse <br><br>
                                <h3><b>Album:</b></h3>The Resistance<br><br>
                                <h3><b>Tracks:</b></h3>
                                    <a
                                    href="https://music.youtube.com/watch?v=Cvlu8cvv3dY&feature=share"
                                    target="_blank">Undisclosed Desires</a><br><br>                                
                                    <a
                                    href="https://music.youtube.com/watch?v=Y4R6k8_iIkE&feature=share"
                                    target="_blank">Uprising</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=ywpJACWd0dA&feature=share"
                                    target="_blank">Resistance</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=wRCzchqOSxk&feature=share"
                                    target="_blank">Exogenesis: Symphony Pt. 3 (Redemption)</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Lil Peep <br><br>
                                <h3><b>Album:</b></h3>CALIFORNIA GIRLS<br><br>
                                <h3><b>Tracks:</b></h3>
                                    <a
                                    href="https://music.youtube.com/watch?v=QroC1zJIrBk&feature=share"
                                    target="_blank">california world</a><br><br>                                   
                                    <a
                                    href="https://music.youtube.com/watch?v=eDMnicTFIRo&feature=share"
                                    target="_blank">pray i die</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
                </div>
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                    <div class="musicBubble">
                        <div class="album-pic">
                            <div class="info">
                                <b>
                                    <h3><b>Artist:</b></h3> The 1975 <br><br>
                                    <h3><b>Album:</b></h3>A Brief Inquiry Into Online Relationships<br><br>
                                    <h3><b>Tracks:</b></h3>
                                    <a href="https://music.youtube.com/watch?v=-Wxt5MAQ5v4&feature=share"
                                        target="_blank">Love It If We Made It</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=3bVJFgvUZHg&feature=share"
                                        target="_blank">It's Not Living (If It's Not With You)</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=ZH19HjSCSoA&feature=share"
                                        target="_blank">Give Yourself A Try</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=NT3yzVrp4o8&feature=share"
                                        target="_blank">I Couldn't Be More In Love</a><br><br>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Lil Peep <br><br>
                                <h3><b>Album:</b></h3>crybaby<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=empKSzQIEqg&feature=share"
                                    target="_blank">white tee</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=u_IdQi3-aH4&feature=share"
                                    target="_blank">skyscrapers (love now, cry later)</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>               
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Muse <br><br>
                                <h3><b>Album:</b></h3>Black Holes and Revelations<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=2G9_5ZQYXVY&feature=share"
                                    target="_blank">Starlight</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=N-_mHedypEU&feature=share"
                                    target="_blank">Supermassive Black Hole</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=aVrK9_R2f2Q&feature=share"
                                    target="_blank">Soldier's Poem</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Lil Uzi Vert <br><br>
                                <h3><b>Album:</b></h3>Eternal Atake<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=Wc9XOmBKpsA&feature=share"
                                    target="_blank">P2</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=8pjoqEz-MgY&feature=share"
                                    target="_blank">Yessirskiii</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> <!--row 5-->
                       <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Nothing But Thieves <br><br>
                                <h3><b>Album:</b></h3>Moral Panic<br><br>
                                <h3><b>Tracks:</b></h3>
                                    <a
                                    href="https://music.youtube.com/watch?v=69ny1l5KnWA&feature=share"
                                    target="_blank">Is Everyone Going Crazy?</a><br><br>                                
                                    <a
                                    href="https://music.youtube.com/watch?v=os0y0RmiIKI&feature=share"
                                    target="_blank">Free If We Wanted</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=6dqKSnWhbko&feature=share"
                                    target="_blank">This Feels Like The End</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=paYsmyM2Dn0&feature=share"
                                    target="_blank">There Was Sun</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Mac Miller <br><br>
                                <h3><b>Album:</b></h3>K.I.D.S.<br><br>
                                <h3><b>Tracks:</b></h3>
                                    <a
                                    href="https://music.youtube.com/watch?v=c7XgCysXZsI&feature=share"
                                    target="_blank">Don't Mind If I Do</a><br><br>                                   
                                    <a
                                    href="https://music.youtube.com/watch?v=LhaEXzVwNS4&feature=share"
                                    target="_blank">The Spins</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
                </div>
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                    <div class="musicBubble">
                        <div class="album-pic">
                            <div class="info">
                                <b>
                                    <h3><b>Artist:</b></h3> Video Age <br><br>
                                    <h3><b>Album:</b></h3>Pop Therapy<br><br>
                                    <h3><b>Tracks:</b></h3>
                                    <a href="https://music.youtube.com/watch?v=jKzT-pbxEPA&feature=share"
                                        target="_blank">Pop Therapy</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=0Nm0IbagMgQ&feature=share"
                                        target="_blank">Hold On (I Was Wrong)</a><br><br>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Muse <br><br>
                                <h3><b>Album:</b></h3>Origin Of Symmetry XX Anniversary<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=4__X4iTUd3s&feature=share"
                                    target="_blank">New Born</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=nqJClsn83Ao&feature=share"
                                    target="_blank">Citizen Erased</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=BHV32FwUQSc&feature=share"
                                    target="_blank">Feeling Good</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>               
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> J. Cole <br><br>
                                <h3><b>Album:</b></h3>The Off-Season<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=wS7Ei5iEKuc&feature=share"
                                    target="_blank">p r i d e . i s . t h e . d e v i l</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=Fq4slw5HnHU&feature=share"
                                    target="_blank">l e t . g o . m y . h a n d</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=XFtxAgHZII8&feature=share"
                                    target="_blank">i n t e r l u d e</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Aster and Ivy <br><br>
                                <h3><b>Album:</b></h3>Tell Me Pretty Things<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=ybvqKJoJfxQ&feature=share"
                                    target="_blank">Changes</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> <!--row 6-->
                       <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Nothing But Thieves <br><br>
                                <h3><b>Album:</b></h3>Broken Machine<br><br>
                                <h3><b>Tracks:</b></h3>
                                    <a
                                    href="https://music.youtube.com/watch?v=R3MuRY7LAg8&feature=share"
                                    target="_blank">Amsterdam</a><br><br>                                
                                    <a
                                    href="https://music.youtube.com/watch?v=5yiyNUqxn_Y&feature=share"
                                    target="_blank">Sorry</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=Ne51dDG-gqw&feature=share"
                                    target="_blank">Number 13</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=oKETjbfqcYE&feature=share"
                                    target="_blank">Afterlife</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> COIN <br><br>
                                <h3><b>Album:</b></h3>Dreamland<br><br>
                                <h3><b>Tracks:</b></h3>
                                    <a
                                    href="https://music.youtube.com/watch?v=t8LQQh1AfjU&feature=share"
                                    target="_blank">Crash My Car</a><br><br>                                   
                                    <a
                                    href="https://music.youtube.com/watch?v=8xrUKkjFniA&feature=share"
                                    target="_blank">Cemetery</a><br><br>
                                    <a
                                    href="https://music.youtube.com/watch?v=c5wG2JXXBeU&feature=share"
                                    target="_blank">Simple Romance</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
                </div>
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                    <div class="musicBubble">
                        <div class="album-pic">
                            <div class="info">
                                <b>
                                    <h3><b>Artist:</b></h3> You Me At Six <br><br>
                                    <h3><b>Album:</b></h3>IV<br><br>
                                    <h3><b>Tracks:</b></h3>
                                    <a href="https://music.youtube.com/watch?v=5QvDm3AOc2E&feature=share"
                                        target="_blank">Back Again</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=Ko0srrCcpAE&feature=share"
                                        target="_blank">Danger</a><br><br>
                                    <a href="https://music.youtube.com/watch?v=z9P7jXiPMww&feature=share"
                                        target="_blank">Pray For Me</a><br><br>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Muse <br><br>
                                <h3><b>Album:</b></h3>Origin Of Symmetry XX Anniversary<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=4__X4iTUd3s&feature=share"
                                    target="_blank">New Born</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=nqJClsn83Ao&feature=share"
                                    target="_blank">Citizen Erased</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=BHV32FwUQSc&feature=share"
                                    target="_blank">Feeling Good</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>               
                <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> J. Cole <br><br>
                                <h3><b>Album:</b></h3>The Off-Season<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=wS7Ei5iEKuc&feature=share"
                                    target="_blank">p r i d e . i s . t h e . d e v i l</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=Fq4slw5HnHU&feature=share"
                                    target="_blank">l e t . g o . m y . h a n d</a><br><br>
                                <a
                                    href="https://music.youtube.com/watch?v=XFtxAgHZII8&feature=share"
                                    target="_blank">i n t e r l u d e</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-2 mb-3 d-flex justify-content-center">
                <div class="musicBubble">
                    <div class="album-pic">
                        <div class="info">
                            <b>
                                <h3><b>Artist:</b></h3> Aster and Ivy <br><br>
                                <h3><b>Album:</b></h3>Tell Me Pretty Things<br><br>
                                <h3><b>Tracks:</b></h3>
                                <a
                                    href="https://music.youtube.com/watch?v=ybvqKJoJfxQ&feature=share"
                                    target="_blank">Changes</a><br><br>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </div>
                
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
                    crossorigin="anonymous"></script>
                </body>
                
                </html>