<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Riemann Sphere</title>
    
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>

<body lang=EN-US link=blue vlink="#954F72" style="background-color: #333333; margin:150;padding:0"> <!--For Dark mode-->
<font color="white"> <!--For Dark mode-->

<p style="line-height: 1.8; text-align: center;">
    In complex analysis the Riemann Sphere is a model of the extended complex plane. The extended
    complex plane being the union of the complex plane and infinity \( \mathbb{C} \cup \{ \infty \} \)
</p>
<img src="{{url_for('static', filename='img/riemannDiagram.png')}}" style="width: 100%; margin-left: auto; margin-right: auto; display:block; height:auto;">


</body>







</html>